.scanner-container {
  display: flex;
  flex-direction: column;
 justify-items: start;
  width: 100%;

  min-height: 100vh;
  background-color: #f4f4f4;
  padding: 16px;
}
.video-container {
  width: 100%;
  height: 150px;
  background-color: white;
  position: relative;
  border: 2px solid red

}
.video {
  width: 100%;
  height: 100%;
}